.media-tree-item .item-icon {
    color: $xiroadmin-folder-color;
}
.media-tree-item.active>a .item-icon {
    color: $xiroadmin-folder-color-hover;
}
/* com_media/components/_media-browser.scss */
.media-browser {

    // border-inline-start: 1px solid $border-color;

    .folder-icon .icon-folder {
        color: $xiroadmin-folder-color;
    }

    .image-background {
        background-color: transparent;
        background-image: none;
        border: none;
      }

      .file-background, .folder-background {
        background-color: transparent;
        border: none;
      }

      .selected {
        outline: 2px solid var(--template-bg-dark-50);
        box-shadow: $xiroadmin-box-shadow-3;
      }

}
.media-browser-grid {
    .media-browser-items-sm {
        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(auto-fill,minmax(24%,1fr));
        }
    }
}

.media-browser-item {
    position: relative;
   
    margin-bottom: 1.5rem;
    cursor: pointer;
    user-select: none;
    box-shadow: $xiroadmin-box-shadow-1;
    border-radius: $xiroadmin-media-item-border-radius;
    // background: #f4f4f4;
    background: var(--xiroadmin-input-bg);

    min-width: 90px;
    border: var(--xiroadmin-darklight-border-width) solid var(--border-color);

  
    &:hover {
      box-shadow: $xiroadmin-box-shadow-3;
      @include xiroadmin-transition;
    } 
    
  }
  
  .media-browser-item-preview{
    border: none;
      &::after {
        background-color: transparent;
      }
  }


  /* build/media_source/com_media/com_media/components/_media-tree.scss */
  .media-tree {
    .active > a {
        background-color: var(--xiroadmin-media-tree-active-bg); 
    }
  }
  .media-tree-item {
    a:hover {
        background-color: var(--xiroadmin-media-tree-active-bg);
    }
    .active>a:hover {
        background-color: var(--xiroadmin-media-tree-active-bg); 
    }
    &::before,&::after {
        background-color: var(--template-bg-dark-50);
    }
  }


.media-browser-table {
    .type[data-type=""]::before {
        color: $xiroadmin-folder-color;
    }
    &>tbody>tr{
        &:nth-of-type(odd) {
            --table-accent-bg: var(--list-odd-bg);
        }
        &:hover {
            --table-accent-bg: var(--list-odd-bg);
        }
    }
}