.com_content.layout-edit {
  .image-media-select {
    position: relative;
    & > .control-group {
      flex-direction: column;
      margin: 0 0 0.5rem 0;
    }
    
  }
}
.accordion-header-button-bg-x {
    --accordion-btn-bg: var(--xiroadmin-input-bg);
}

#articleList {
  .small, small {
    font-size: .7rem;
    font-weight: 400;
  }
  .badge {
    font-size: .7rem;
    font-weight: 400;
    padding: .3rem .35rem;
  }

}

