$xiroadmin-colors-dark: (
    form-content-bg:    transparent,
    list-odd-bg:        #ffffff11,
    xiroadmin-btn-color:   rgba(236, 236, 236, 0.9),
    xiroadmin-btn-bg:   #ffffff22,
    xiroadmin-btn-hover-bg: #000,
    xiroadmin-bg:          transparent,
    xiroadmin-input-bg: #FFFFFF11,
    xiroadmin-input-alias-border-color: #495057,
    xiroadmin-border-color-active: #848f99,
    xiroadmin-card-bg: #FFFFFF18,
    xiroadmin-input-bg-2: #FFFFFF11,
    xiroadmin-input-bg-3: #000000,
    xiroadmin-darklight-border-width: 1px,
    xiroadmin-set1-bg: var(--template-bg-dark-70),
    template-quickicon-color: var(--template-bg-dark-70),
    xiroadmin-tbar-bg: var(--body-bg),
    xiroadmin-btn-tbar-border-color: #FFF,
    xiroadmin-tag-icon-url: url('../images/admin/tags-25-light.png'),
    xiroadmin-tab-active-color: #000,
    xiroadmin-tab-hover-bg: #000,
    xiroadmin-tab-bg: var(--xiroadmin-input-bg),
    xiroadmin-tablecontent-border-color: #555555,
    xiroadmin-modules-border-width: 1px 1px 1px 6px,
    xiroadmin-modules-published-1: var(--xiroadmin-input-bg),
    xiroadmin-modules-published-0: var(--xiroadmin-input-bg),
    xiroadmin-modules-published-0-opac: .62,
    xiroadmin-module-menuassign-all-bg: var(--xiroadmin-input-bg),
    xiroadmin-module-menuassign-nopage-bg:  #d90e0e4d,
    xiroadmin-media-tree-active-bg:  rgba(255, 255, 255, 4%),
    permissions-sliders-oddCol: #000000,
    
) !default;
