// Login page

.view-login,
.task-logout {
  .form-group {
    .form-control-feedback {
      position: absolute;
      right: 0;
      bottom: -1.5rem;
      font-size: ($font-size-base * .75);
      text-align: right;

      [dir=rtl] & {
        right: auto;
        left: 0;
        text-align: left;
      }
    }

    .form-control-hint {
      position: absolute;
      top: .1rem;
      right: 0;
      font-size: ($font-size-base * .75);
      text-align: right;

      [dir=rtl] & {
        right: auto;
        left: 0;
        text-align: left;
      }
    }
  }

}
