@mixin xiromixin-boxshadow {
    box-shadow: $xirovar-box-shadow;
}
@mixin xiromixin-boxshadow-1 {
    box-shadow: $xirovar-box-shadow-1;
}
@mixin xiromixin-boxshadow-2 {
    box-shadow: $xirovar-box-shadow-2;
}
@mixin xiromixin-boxshadow-3 {
    box-shadow: $xirovar-box-shadow-3;
}
@mixin xiromixin-boxshadow-4 {
    box-shadow: $xirovar-box-shadow-4;
}